models/color_labeler.pth
data
detections
annotations
segmentations
annotations_trainval2017.zip
simulated_cube_dataset
areacounter.ipynb
client.py
calhackcv.py
color_generator.ipynb
cv2practice.py
ground_dino.ipynb
karpathy_cubecode.py
labeler.py
videomain.py
videotest.py
yolo11n.pt
server.py
tester.py
git-filter-repo